// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
float: left;
margin-top: 20px;
margin-right: 20px;
width: 80%;
}

.side {
float: left;
margin-top: 20px;
}
